# Eclipse
.project
.buildpath
.settings/

cgi-bin
email
!sites/all/modules/contrib/email
400.shtml
401.shtml
403.shtml
404.shtml
500.shtml

sites/default/settings.php
sites/default/files
sites/all/themes/housemedia/css/.sass-cache
