
form input.form-submit {
  background: $color-azure;
  border: 0 none;
  color: $color-white;
  font-size: 12px; 
}

#commons-core-group-create-content-block-form {
  .form-item {
    float: left;
    margin: 0;
    padding: 0;
  }
}