#header-group-wrapper {
	background: url(../img/header-bg.png) repeat-x;
  border-bottom: 2px solid #3C709B;
  height: 112px;
  overflow: hidden;
  @include shadow;
}

#logo {
	background: url(../img/logo.png) no-repeat;
  display: block;
  height: 101px;
  margin: 14px 0 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 292px;
}

#footer-wrapper {
	background-color: $color-gray-dark;
  border-top: 2px solid #000;
}

#footer-message-inner {
	margin: 10px;
}

h1 {
  margin-bottom: 1em;
  line-height: 1.1;
}

#content-content {
	clear: both;
}

.page-profile {
  #sidebar-first {
    width: 200px;
  }
  #sidebar-last {
    width: 250px;
  }
  #main-group {
    width: 760px;
  }
  #content-group {
    width: 510px;
  }
}

// +40 + 50