
.node .inner .group-summary {
  clear: both;
  li {
    display: block;
  }
}

.view-id-hm_group_gallery {
	padding-left: 12px;
	
  .field-item {
    float: left;
    margin-right: 10px;
    width: 140px;
  }
}