
.node { 
  .meta {
    background: $color-gray;
    padding: 5px 6px;
    
    .submitted-by,
    .userpoints-value,
    .submitted-on {
      font-size: 12px;
    }
    
    .submitted-by {
      margin-right: 5px;
    }
  }
  .inner .content {
    padding: 0;
  }
  .picture img {
    margin-top: 0;
  }
  .groups {
    margin-bottom: 1em;
    .links {
      font-size: 12px;
    }
  }
}

.node .inner .group-summary {
  clear: both;
  li {
    display: block;
    &.available-flats {color: #226734;}
    &.completion-date {color: #306dab;}
  }
}

.view-id-hm_group_gallery {
	padding-left: 12px;
	
  .field-item {
    float: left;
    margin-right: 10px;
    width: 140px;
  }
}

.view-id-hm_investment_node {
  .group-in-d-podstawowe {
    margin-top: 0;
  }
}

#pid-og-reg-key-join .teaser {
  background: $color-gray;
  padding: 10px 10px 0 10px;
}

.workflow-image {
	margin-bottom: 10px;
}
