
.view-empty {
  p {
    margin-top: 0;
    text-align: center;
  }
}

#view-id-hm_credit_form-page_1 {
  .views-field-state {
    color: green;
    
    .wyplacono-kredyt {
      color: red;
    }
  }
}