$color-black: #000;
$color-blue-light: #90a3cd;
$color-blue: #5D91C0;
$color-blue-dark: #2C537C;
$color-azure: #80bbed;
$color-white: #fff;
$color-gray: #eee;
$color-gray-dark: #afafaf;
$color-cherry: #a10d0d;

@mixin vui-widget-updown-default {
  border: 0 none;
  color: $color-white;
  height: 22px;
  margin: 0;
  width: 35px;
}

@mixin shadow($size: 5px) {
 -moz-box-shadow: $size $size $size #ccc;
 -webkit-box-shadow: $size $size $size #ccc;
 box-shadow: $size $size $size #ccc;
}

@import "lib/clearfix";
@import "commons_roots-style";
@import "layout";
@import "nodes";
@import "comments";
@import "views";
@import "blocks";
@import "navigation";
@import "forms";
@import "print";

.vud-widget-updown {
	
	width: 150px;
	
	div.updown-up {
	  @include vui-widget-updown-default;
    background: #72ff00;
  }
  
  div.updown-down,
  .vud-link-down {
    @include vui-widget-updown-default;
    background: #ff0000;
    margin: -22px 0 0 115px;
  }
  
  .ctools-ajaxing .updown-down {
    background: url(../img/status-active.gif) no-repeat;
  }
  
  .updown-score {
    @include vui-widget-updown-default;
    background: #96a4c0;
    margin: 0;
    padding: 0;
    width: 115px;
  }
  
  .ctools-ajaxing {
    @include vui-widget-updown-default;
  }
  
  .ctools-ajaxing.updown-down {
    background: blue;
  }
  
  .up-inactive,
  .down-inactive,
  .up-active,
  .down-active {
    @include vui-widget-updown-default;
  }
}
